---
import Icon from '@xtreat/astro-iconify';

const wrapperClass = "portfolioLinkWrapper size-10 transition-all duration-300 grayscale remove-grayscale hover:scale-110 hover:mx-1 hover:-translate-y-0.5 active:scale-100";
const linkClass = "portfolioLink cursor-none opacity-0 size-full tooltip tooltip-bottom tooltip-gray-500 active:[--tooltip-color:#00000000] active:[--tooltip-text-color:#00000000]";
const iconClass = "size-full";
---

<div class="grid grid-flow-col justify-center items-center gap-5 mb-12" >
    <div class={wrapperClass}>
        <a class={linkClass + " hover:translate-y-0"}
        target="_blank"
        data-tip="Resume"
        href="lniked in link here"
        draggable="false"
        >
            <Icon
                icon="mdi:resume"
                class={iconClass + " *:fill-yellow-800"}
            />
        </a>
    </div>
    <div class={wrapperClass}>
        <a class={linkClass}
        target="_blank"
        data-tip="GitHub"
        href="https://github.com/xandertreat"
        draggable="false"
        >
            <Icon 
                icon="logos:github-icon"
                class={iconClass + " *:fill-purple-700"}
            />
        </a>
    </div>
    <div class={wrapperClass}>
        <a class={linkClass}
        target="_blank"
        data-tip="NPM"
        href="https://www.npmjs.com/~xtreat"
        draggable="false"
        >
            <Icon 
                icon="logos:npm-icon"
                class={iconClass + ""}
            />
        </a>
    </div>
    <div class={wrapperClass}>
        <a class={linkClass}
        target="_blank"
        data-tip="LinkedIn"
        href="https://www.linkedin.com/in/xandertreat/"
        draggable="false"
        >
            <Icon
                icon="logos:linkedin-icon"
                class={iconClass}
            />
        </a>
    </div>
    <div class="portfolioLinkWrapper size-10 transition-all duration-300 hover:scale-110 hover:mx-1 hover:-translate-y-0.5 active:scale-100">
        <a class={"portfolioLink cursor-none opacity-0 size-full tooltip tooltip-bottom tooltip-gray-500 active:[--tooltip-color:#00000000] active:[--tooltip-text-color:#00000000]"}
        target="_blank"
        data-tip="X"
        href="https://x.com/XanderTreat"
        draggable="false"
        >
            <Icon
                icon="logos:x"
                class={iconClass}
            />
        </a>
    </div>
</div>

<script>
    import {animate, stagger} from 'motion';
    import { linksDiff } from '../json/animationConfig.json' assert { type: 'json' };

    const initialDelay = setInterval( () => {
        animate('.portfolioLink', {opacity: 1, y: 10}, {delay: stagger(0.3)});
        clearInterval(initialDelay);
    }, linksDiff * 1000);
</script>