---
import Icon from '@xtreat/astro-iconify';

const link_class = "pointer-events-auto size-10 tooltip tooltip-bottom text-white tooltip-gray-500 grayscale remove-grayscale transition-all duration-300 hover:mx-1 hover:-translate-y-1 hover:scale-125 active:scale-100 active:[--tooltip-color:#00000000] active:[--tooltip-text-color:#00000000]";
const icon_class = "size-full";
---

<div class="grid grid-flow-col justify-center items-center gap-5 mb-14">
    <a class={link_class + " hover:translate-y-0"}
       target="_blank"
       data-tip="Resume"
       href="https://www.xtreat.dev/resume.pdf"
       >
        <Icon 
            icon="mdi:resume"
            class={icon_class + " *:fill-yellow-200"}
        />
    </a>
    <a class={link_class}
       target="_blank"
       data-tip="GitHub"
       href="https://github.com/xandertreat">
        <Icon icon="logos:github-icon"
        class={icon_class + " *:fill-purple-700"}
        />
    </a>
    <a class={link_class}
       target="_blank"
       data-tip="NPM"
       href="https://www.npmjs.com/~xtreat">
        <Icon icon="logos:npm-icon" 
        class={icon_class + ""}/>
    </a>
    <a class={link_class}
       target="_blank"
       data-tip="LinkedIn"
       href="https://www.npmjs.com/~xtreat">
        <Icon 
            icon="logos:linkedin-icon"
            class={icon_class}
        />
    </a>
    <a class={link_class + " hover:text-gray-50"}
       target="_blank"
       data-tip="X"
       href="https://x.com/XanderTreat">
        <Icon icon="logos:x" 
        class={icon_class}/>
    </a>
</div>